body {
    background-color: #232323;
    color: #e2e2e2;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

header{
    background-color: #e2e2e2;
    color: #232323;
}

divrow {
    margin: 5px;
    width: 50px;
    height: 150px;
}

.left {
    float: left;
    width:50%;
}

.right {
    float: right;
    width: 50%;
}